#complaint {
}
#complaint p {
    font-size: 21px;
}
#note {
    font-size: 20px;
}
#mySideNav a {
    text-align: center;
}
p {
    margin-left: 120px;
}
textarea {
    border: solid;
    border-color: dodgerblue;
    text-align: center;
    margin-top: 15px;
    font-size: 36px;
    resize: none;
    width: 50px;
}

#postComplaint {
    resize: none;
}

#mark {
    background-color: #F6A924;
    color: darkblue;
}

#preview {
    word-wrap: break-word;
}

