#complaint {
    margin-left: 400px;
    position: fixed;
}
#complaint p {
    font-size: 21px;
}

#submitButton {
    margin-left: 240px;
    height: 40px;
    width: 120px;
    margin-top: 300px;
    font-size: 20px;
}
#clearButton {
    margin-left: 150px;
    height: 40px;
    width: 120px;
    margin-top: 300px;
    font-size: 28px;
    background: none;
    box-shadow: none
}
#note {
    margin-top: 390px;
    font-size: 20px;
}
p {
    margin-left: 120px;
}
textarea {
    border: solid;
    border-color: dodgerblue;
    text-align: center;
    height: 250px;
    width: 590px;
    margin-top: 15px;
    margin-left: 120px;
    font-size: 28px;
    position: fixed;
}
